<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">


<body>
    <main>
        <div layout:fragment="layout-title">
            <h1 class="mb-0 h4">About</h1>
        </div>

        <div class="container" layout:fragment="layout-content">
            <div class="text-center mb-3">
                So Long, and Thanks for All the Fish
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N_dUmDBfp6k?si=xiR-w02aDszztGPh"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <canvas data-mdb-chart-init="" data-mdb-chart="bar" data-mdb-dataset-label="Traffic"
                        data-mdb-labels="['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday ']"
                        data-mdb-dataset-data="[2112, 2343, 2545, 3423, 2365, 1985, 987]" class="chart"
                        style="display: block; box-sizing: border-box; height: 194px; width: 388px;" width="388"
                        height="194" data-mdb-chart-initialized="true"></canvas>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
